#square {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
}

.container {
    height: 400px;
    width: 600px;
    outline: 1px solid black;
    position: relative;
}